.App {
  padding: 0%;
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  /* height: 100vh;
  width: 100%;
  position:relative;*/
  overflow: hidden;
  height: 100dvh;
}

.bg-video {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  opacity: 20%;
  
}


.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  font-size: 1.6rem;
  background-color: black;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
}


.contact-container {
  display: flex;
  background: #fff;
}

.contact-img {
  width: 50%;
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container a {
  font-size: 1.3rem;
}



@media (max-width: 768px) {

  .food-container {
    flex-direction: column;
    align-items: stretch;
  }

  .food-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .img-container {
    margin: 0;
  }

  .showcase-area {
    height: 80vh;
  }
}


/*forex styles*/


@media (max-width: 500px) {

  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    font-size: 1.6rem;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

.img-container img {
  border-radius: 1rem;
}

@media (orientation: landscape) and (max-height: 500px) {

  .showcase-area {
    height: 50vmax;
  }
}

h1 span {
  transition: 0.5s ease-out;
}

h1:hover span:nth-child(1) {
  margin-right: 5px;
}

h1:hover span:nth-child(1):after {
  content: "'";
}

h1:hover span:nth-child(2) {
  margin-left: 30px;
}

h1:hover span {
  color: #ffffff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  opacity: 90%;
}




/*start btn*/

.glowing-btn {
  position: relative;
  color: #fff;
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid #fff;
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-variant: small-caps;
  font-size: 3rem;
  font-family: "Comfortaa", sans-serif;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px #fff,
    0px 0px 0.5em 0px #fff;
  -moz-box-shadow: inset 0px 0px 0.5em 0px #fff,
    0px 0px 0.5em 0px #fff;
  box-shadow: inset 0px 0px 0.5em 0px #fff,
    0px 0px 0.5em 0px #fff;
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em #fff;
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em #fff;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: #fff;
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: #fff;
  box-shadow: 0 0 2em 0.2em #fff;
  transition: opacity 100ms linear;
  border-radius: 0.5rem;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 0.1;
  }

  4% {
    opacity: 0.5;
  }

  19% {
    opacity: 0.5;
  }

  21% {
    opacity: 0.1;
  }

  23% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }

}




/*sologan text style*/

.wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h2.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 50px;
  padding: 30px;
}
.wrapper h2.glitch::before, .wrapper h2.glitch::after {
  padding: 20px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}
