/*footer styles*/

footer {
    background-image: radial-gradient(circle at 20% 100%,
            rgba(184, 184, 184, 0.1) 0%,
            rgba(184, 184, 184, 0.1) 33%,
            rgba(96, 96, 96, 0.1) 33%,
            rgba(96, 96, 96, 0.1) 66%,
            rgba(7, 7, 7, 0.1) 66%,
            rgba(7, 7, 7, 0.1) 99%),
        linear-gradient(40deg, #040a22, #0c1435, #030b29, #0e2686);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
    text-decoration: none;
}

footer a:hover {
   
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #633b98;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: white;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}



/*connect me*/

  
  .hover-fx {
    font-size: 36px;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 50px;
    height: 50px;
    line-height: 14px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    transition: 300ms;
    margin-bottom: 20px;
    background-color: transparent !important;
  }
  
  .hover-fx:after {
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
  
  .hover-instagram:hover {
    background-color: #fff;
    color:  #7644b8;
  }
  .hover-telegram:hover {
    background-color: #fff;
    color:  #1f57aa;
  }
  .hover-gmail:hover {
    background-color: #fff;
    color:  #790e0e;
  }
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }