@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.parent {
  background-image: radial-gradient(circle at 20% 100%,
      rgba(184, 184, 184, 0.1) 0%,
      rgba(184, 184, 184, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 99%),
    linear-gradient(40deg, #040a22, #0c1435, #030b29, #0e2686);
  padding: 2rem;
  margin: auto;
  height: 100dvh;
}


.packagecards {
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05rem;
  border-radius: 1rem;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}

.packagecards .ico-cards {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.packagecards i {
  position: relative;
  right: -40%;
  top: 20%;
  font-size: 14rem;
  line-height: 0;
  opacity: 0.2;
  color: white;
  z-index: 0;
}

.pkges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.input-box {
  text-align: center;
  justify-content: center;
  margin-top: 0px;
  padding: 0.2rem;
}

.input-box input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 40px;
  border: 2px solid #ffffff;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  padding: 0 20px;
  transition: .5s ease;
}


/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*radio btn packages styles*/



.plans .plan input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.plans .plan {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 1rem;
}

.plans .plan .plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e1e2e7;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;
}

.plan-details {
  text-align: center;
  margin: 0 auto;
}



.plans .plan input[type="radio"]:checked+.plan-content:after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  background: #216fe0;
  right: 20px;
  top: 20px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #0066ff;
  box-shadow: 0px 0px 0px 2px #0066ff;
}

.plans .plan input[type="radio"]:checked+.plan-content {
  border: 2px solid #216ee0;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.5s;
}

.plans .plan {
  width: 40%;
}

.plan.complete-plan {
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 20px;
  }

  /*.
  .pkges{
    max-width: 100%;
  }*/
  .plans .plan {
    width: 100%;
  }

  .plan.complete-plan {
    margin-top: 10px;
  }

  .plans .plan .plan-content .plan-details {
    width: 60%;
    display: inline-block;
  }

 
  .plans .plan input[type="radio"]:checked+.plan-content:after {
    top: 45%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }

  .plans .plan .plan-content {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .plans .plan .plan-content .plan-details {
    width: 60%;
    display: inline-block;
  }

  .plans .plan .plan-details h4 {
    font-size: 20px;
    line-height: normal;
  }

  .plans .plan .plan-details p {
    font-size: 15px;
    line-height: normal;
  }

}


@media screen and (max-width: 540px) {
  .plans .plan .plan-content img {
    margin-right: 10px;
    height: 60px;
    -webkit-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
  }

  .plans .plan input[type="radio"]:checked+.plan-content:after {
    top: 10px;
    right: 10px;
  }

  .plans .plan .plan-content .plan-details {
    width: 100%;
  }

  .plans .plan .plan-content:hover {
    box-shadow: none;
  }

  .plans .plan .plan-content {
    padding: 0.1rem;
  }
}

@media screen and (max-width: 380px) {
  .plans .plan .plan-content {
    padding: 0rem;
  }

  .plans .plan {
    cursor: pointer;
    margin-top: 3px;
  }
}